@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        @apply font-indie text-xl font-light;
    }
}

.drag-sort-active {
	background: transparent;
	color: transparent;
	border: 1px solid #4ca1af;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}
/* body{
    padding-bottom: 20px;
} */

/* .day_1 .accordion-content {
    max-height: 100%;
    overflow: auto;
} */